<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Můj blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>
<body bgcolor="#f8f8ff" >
<h1 th:utext="${post.title)}">Tady bude můj blog…</h1>
<h4 th:utext="${post.author}">jmeno autora</h4>
<div th:utext="${post.perex}">>Tady bude perex</div>
<div th:utext="${post.body}">>tady zbytek textu</div>

<div> <a href="index.html" >Zpatky na prehled</a> </div>


</body>
</html>
